:root {
    --white: #ffffff;
    --black: #000000;
    --sedona-blue: #81B3D2;
    --sedona-blue-dark: #669ec0;
    --sedona-blue-darkest: #5496bd;
    --sedona-brown: #766357;
    --sedona-features-grey: #eeeeee;
    --copyright-logo-grey: #bdbbbc;
    --ratio-grey: #666666;
    --ratio-block-grey: #f2f2f2;
  }

body {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--black);
    font-weight: 700;
    line-height: 21px;
   
}

a {
    text-decoration: none;
}

.header-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav-item {
    line-height: 26px;
    text-align: center;
    color: var(--black);
}

.header-nav-item:hover,
.header-nav-item:focus {
    color: var(--sedona-blue);
}

.header-nav-item:active {
    color: var(--black);
    opacity: 30%;
}

.section-heading {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.features-main p {
    font-weight: 400;
    text-align: center;
    line-height: 26px;
}

.features-extra-list {
    list-style: none;
    padding: 0;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
  
.features-item h3 {
    font-size: 21px;
    color: var(--back);
    text-align: center;
}
  
.features-item span {
    font-weight: 400;
    text-align: center;
}
  
.features-item p {
    font-weight: 400;
    text-align: center;
}
  
.features-item.primary {
    background-color: var(--sedona-blue);
}
  
  .features-item.primary h3,
  .features-item.primary span,
  .features-item.primary p {
    color: var(--white);
}
  
.features-item.secondary {
    background-color: var(--sedona-features-grey);
}

.interested p {
    line-height: 24px;
    font-weight: 400;
    text-align: center;  
}

.interested .section-heading {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
}

.sort {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sort-filter-list {
    list-style: none;
}

.sort-filter-item a{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--sedona-blue);
    color: var(--black);
    opacity: 30%;
}

.sort-filter-item a:hover,
.sort-filter-item a:focus {
    color: var(--sedona-blue);
    opacity: 100%;
}

.sort-filter-item a:active {
    text-decoration: none;
    color: var(--black);
    opacity: 100%;
}

.sort-filter-item .sort-active {
    text-decoration: none;
    color: var(--sedona-blue);
    opacity: 100%;
}

.hotel-block h3,
.match {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotels-list {
    list-style: none;
}

.hotel-type span,
.reserve span {
    font-weight: 400;
}

.more-btn,
.reserve-btn {
    color: var(--white);
}

.more-btn {
    background-color: var(--sedona-blue);
}

.reserve-btn {
    background-color: var(--sedona-brown);
}

.ratio-block span {
    background-color: var(--ratio-block-grey);
    color: var(--ratio-grey);
    font-weight: 400;
}

.contacts {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.contacts a{
    color: var(--black);
}

.social-networks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-networks a{
    width: 46px;
    height: 48px;
    background-color: var(--sedona-blue);
    display:flex;
    justify-content:center;
    align-items:center;
}


.social-networks a:hover,
.social-networks a:focus {
    background-color: var(--sedona-blue-dark);
}

.social-networks a:active {
    background-color: var(--sedona-blue-darkest);  
}

.social-networks a:active img {
    opacity: 0.3
}


.copyright span {
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.copyright-logo {
    display: block;
    width: 114px;
    height: 40px;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
    fill: var(--sedona-blue);
}

.copyright-logo:active path{
    fill: var(--copyright-logo-grey);
}

