:root {
    --white: #ffffff;
    --black: #000000;
    --sedona-blue: #81B3D2;
    --sedona-blue-dark: #669ec0;
    --sedona-blue-darkest: #5496bd;
    --sedona-brown: #766357;
    --sedona-brown-dark: #604e43;
    --sedona-brown-darkest: #503e33;
    --sedona-features-grey: #eeeeee;
    --copyright-logo-grey: #bdbbbc;
    --ratio-grey: #666666;
    --edging-grey: #e5e5e5;
    --ratio-block-grey: #f2f2f2;
    --arrow-grey: #cacaca;
  }

.page {
      height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--black);
    font-weight: 700;
    line-height: 21px;
    background-color: var(--ratio-block-grey);
}

.container {
    background-color: var(--white);
    width: 1200px;
    margin: auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.container-wrap {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

.header-nav {
    position: relative;
}

.header-nav-list {
    display: flex;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 15px 72px 15px;
}

.header-nav-item {
    line-height: 26px;
    text-align: center;
    color: var(--black);
}

.header-nav-list li:first-child,
.header-nav-list li:last-child {
    width: 127px;
}

.header-nav-list li:nth-child(2),
.header-nav-list li:nth-child(3) {
    width: 200px;
}

.header-nav-list li:first-child,
.header-nav-list li:nth-child(3) {
    text-align: left;
}

.header-nav-list li:nth-child(2),
.header-nav-list li:last-child {
    text-align: right;
}

.header-nav-list li:nth-child(3){
    margin-left: auto;
}

.header-nav-item:hover,
.header-nav-item:focus {
    color: var(--sedona-blue);
}

.header-nav-item:active {
    color: var(--black);
    opacity: 30%;
}

.header-nav-active {
    color: var(--sedona-brown);
}

.site-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-background::after {
    position: absolute;
    content: url(../img/welcome.png);
    left: 50%;
    transform: translate(-50%, 21%);
}

.background-shape {
    position: absolute;
    transform: translate(0, -100%);
}

.features-main {
    padding: 42px 0 51px;
}

.section-heading {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0 365px 44px;
}

.features-main p {
    font-weight: 400;
    text-align: center;
    line-height: 26px;
}

.features-extra-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
}

.features-list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-item {
    text-align: center;
    padding: 40px 48px 34px;
}
  
  
.features-item h3 {
    font-size: 21px;
    color: var(--back);
}
  
.features-item span {
    font-weight: 400;
}
  
.features-item p {
    font-weight: 400;
}

.features-primary-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    list-style: none;
    padding: 0;
}
  
.features-item.primary {
    background-color: var(--sedona-blue);
}
  
  .features-item.primary h3,
  .features-item.primary span,
  .features-item.primary p {
    color: var(--white);
}

.primary-second {
    order: 2;
}

.primary-pic {
    line-height: 0;
}

.features-item.secondary {
    background-color: var(--sedona-features-grey);
    list-style: none;
}

.features-item.secondary h3 {
    margin-top: 0;
}

.features-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.interested {
    padding-top: 58px;
}

.interested p {
    line-height: 24px;
    font-weight: 400;
    text-align: center;  
}

.interested .section-heading {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
}

.inner-filters {
    display: grid;
    grid-template-columns: 225px 225px 1fr;
    background-image: url(..//img/background-inner.png);
    background-repeat: no-repeat;
    color: var(--white);
    padding: 26px 72px 31px;
}

.inner-filter h4 {
    margin-top: 0;
}

.filter-right-list,
.filter-left-list {
    list-style: none;
    padding-left: 0;
    font-weight: 400;
}

.filter-check {
    background-image: url(../img/checkbox.svg);

}

.range-input {
    border: none;
    background-color: transparent;
}

.sort {
    display: grid;
    grid-template-columns: 1fr 127px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    padding: 29px 73px 21px;
}

.sort-list {
    display: flex;
    align-items: center;

}

.sort-filter-list {
    list-style: none;
    display: flex;
    margin-right: auto;
}

.sort-filter-list,
.hotels-list {
    margin: 0;
    padding: 0;
}

.sort-filter-item a{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--sedona-blue);
    color: var(--black);
    opacity: 30%;
    margin-right: 32px;
}

.sort-filter-item a:hover,
.sort-filter-item a:focus {
    color: var(--sedona-blue);
    opacity: 100%;
}

.sort-filter-item a:active {
    text-decoration: none;
    color: var(--black);
    opacity: 100%;
}

.sort-filter-item .sort-active {
    text-decoration: none;
    color: var(--sedona-blue);
    opacity: 100%;
}

.sort-arrows {
   display: flex;
   justify-content: flex-end;
}

.button-arrow {
    border: none;
    background-color: var(--white);
    cursor: pointer;
}


.button-arrow svg:hover path,
.button-arrow svg:focus path {
    fill: var(--black);
}

.button-arrow svg:active path {
    fill: var(--sedona-blue);
}

.button-arrow-active path{
    fill: var(--sedona-blue);
}


.hotel-block h3,
.match {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel {
    display: grid;
    grid-template-columns: 1fr 127px;
    align-items: center;
    border-bottom: 1px solid var(--edging-grey);
    padding: 30px 73px;
}

.hotel-photo {
    height: 90px;
}

.hotel-main {
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-gap: 29px;
}

.hotel-block {
    display: grid;
    align-content: space-between;
}

.hotel-name {
    color: var(--black);
    font-size: 21px;
    line-height: 26px;
}

.hotel-name:hover,
.hotel-name:focus {
    color: var(--sedona-blue);
}

.hotel-name:active {
    color: var(--black);
    opacity: 30%;
}

.hotels {
    border-top: 1px solid var(--edging-grey);
}

.hotels-list {
    list-style: none;
}

.hotel-type span,
.reserve span {
    font-weight: 400;
}

.more-btn,
.reserve-btn {
    color: var(--white);
}

.more-btn {
    background-color: var(--sedona-blue);
}

.more-btn:hover,
.more-btn:focus {
    background-color: var(--sedona-blue-dark);
}

.more-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--sedona-blue-darkest);
}

.reserve-btn {
    background-color: var(--sedona-brown);
}

.reserve-btn:hover,
.reserve-btn:focus {
    background-color: var(--sedona-brown-dark);
}

.reserve-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--sedona-brown-darkest);
}

.ratio-block {
    display: grid;
    grid-template-rows: 17px 27px;
    grid-gap: 47px;
    justify-content: end;
}

.ratio-block span {
    background-color: var(--ratio-block-grey);
    color: var(--ratio-grey);
    font-weight: 400;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 23px 56px;
}

.contacts {
    display: grid;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.contacts a{
    color: var(--black);
}

.social-networks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    grid-gap: 6px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-networks a{
    width: 46px;
    height: 48px;
    background-color: var(--sedona-blue);
    display:flex;
    justify-content:center;
    align-items:center;
}


.social-networks a:hover,
.social-networks a:focus {
    background-color: var(--sedona-blue-dark);
}

.social-networks a:active {
    background-color: var(--sedona-blue-darkest);  
}

.social-networks a:active img {
    opacity: 0.3
}

.copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
    align-items: end;
}

.copyright span {
    line-height: 26px;
    font-weight: 400;
    text-align: right;
}

.copyright-logo {
    display: block;
    width: 114px;
    height: 40px;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
    fill: var(--sedona-blue);
}

.copyright-logo:active path{
    fill: var(--copyright-logo-grey);
}

